// 페인 페이지 css

// 공통 리셋 불러오기
@import "./common/reset";
@import "./common/core";
@import "./common/grid_12_flex";

/* 공사중 표시 */ 
// body *{
//     outline: 2px dashed #ccc;
// } 

body {
  background-color: #eeede7;
}


#product-info-area {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
#support-area {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
}
