//product-info-area
.product-info {
  padding: 0 40px;
}
.product-info-txt {
  p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  h2 {
    padding: 20px 0;
    font-size: 5rem;
    font-weight: 600;
  }
  .tit2 {
    margin-top: 50px;
  }
}
.product-info-img {
  padding-top: 80px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      flex-basis: 16.66%;
    }
    img {
      max-width: 100px;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 800;
      padding: 15px 0;
    }
  }
}

@media screen and (max-width: 800px) {
  .product-info-img ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      flex-basis: 33.3333%;
    }
  }
  .product-info-txt h2 {
    font-size: 4rem;
  }
  .support-wrap h2 {
    font-size: 4rem;
    padding-bottom: 20px;
  }
  .product-info-img {
    padding-top: 50px;
}
}

@media screen and (max-width: 450px) {
  .product-info-img ul {
    img {
      max-width: 80px;
    }
    h3 {
      font-size: 1.3rem;
    }
  }
  .product-info-img {
    padding-top: 30px;
}
  .product-info-txt h2 {
    font-size: 3rem;
  }
  .support-wrap h2 {
    font-size: 3rem;
  }
}
