.product-detail {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 60px;
}

.product-detail-content {
  display: flex;
  height: auto;
}
.dt-main-img {
  margin-bottom: 1rem;
}
.dt-sub-img {
  ul {
    display: flex;
    gap: 1rem;
  }
}

.detail-img-box {
  cursor: zoom-in;
  img {
    width: 100%;
  }
}
.detail-txt {
  padding-left: 5%;
  h2 {
    font-size: 6rem;
  }
  p {
    font-size: 1.6rem;
    margin: 10px 0;
  }
}
.cart-wrap {
  display: flex;
  margin: 20px 0;
}

.product-count-box {
  border: 1px solid #503217;
  border-radius: 4px;
  min-width: 120px;
  box-sizing: border-box;
  margin-right: 2vh;
  input {
    margin: 0 auto;
    width: 30px;
    height: 36px;
    border: none;
    font-size: 1.5rem;
    text-align: center;
    background-color: #eeede7;
  }
  i {
    margin: 0 9px;
    // cursor: pointer;
  }
  button {
    background-color: #eeede7;
    border: none;
    cursor: pointer;
    height: 90%;
  }
}

.detail-txt {
  position: sticky;
  top: 90px;
  align-self: flex-start;
}

.cart-btn {
  width: 100%;
  box-sizing: border-box;
  button {
    cursor: pointer;
    height: 40px;
    background-color: #503217;
    border: none;
    color: #fff;
    border-radius: 4px;
    width: 90%;
  }
}
.product-desc-box {
  margin: 40px 0;
  h3 {
    margin: 30px 0;
    padding-right: 50px;
    font-size: 2.5rem;
    word-break: break-all;
  }
}
.pd-detail-img {
  display: none;
  &.on {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eeede7e8;
    z-index: 99999999999;
    overflow: hidden;
    .imgXbtn {
      position: fixed;
      top: 20px;
      right: 30px;
      cursor: pointer;
    }
    .swiper-slide {
      margin: 0 auto;
    }
    .swiper-slide img {
      display: block;
      width: 60%;
      max-width: 730px;
      height: 100%;
      object-fit: cover;
      margin: 0 auto;
    }
    .swiper {
      transform: translateY(-50%);
      top: 50%;
    }
    .swiper-button-prev,
    .swiper-button-next {
      opacity: 1;
      padding: 5px 10px;
      border-radius: 50%;
      color: #160d05;
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
      display: none;
    }
  }
}

#product-info-area,
#support-area {
  padding-top: 10rem;
}

@media screen and (max-width: 800px) {
  .product-desc-box h3 {
    padding-right: 10px;
    font-size: 2rem;
  }
  .product-detail-content {
    flex-direction: column;
  }
  .detail-txt h2 {
    font-size: 4rem;
  }
  .detail-txt {
    padding: 1rem 0 0 0;
  }
}
@media screen and (max-width: 600px) {
  .product-detail {
    padding: 0 10px;
  }
}
