// support-area
.support-wrap {
  h2 {
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 30px;
  }
}
.support-img-wrap ul {
  display: flex;
  gap: 3%;
  // / li가 3개일 때 /
  li:first-child:nth-last-child(3),
  li:first-child:nth-last-child(3) ~ li {
    width: 33.3333%;
  }

  // / li가 4개일 때 /
  li:first-child:nth-last-child(4),
  li:first-child:nth-last-child(4) ~ li {
    width: 25%;
  }
  img {
    width: 100%;
    padding: 20px 0;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  p {
    margin-top: 10px;
    font-size: 1.5rem;
    text-align: justify;
    word-break: break-all;
  }
}
.support-area-box {
  padding: 0 40px;
}

@media screen and (max-width: 800px) {

  .support-img-wrap ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    // / li가 4개일 때 /
    li:first-child:nth-last-child(4),
    li:first-child:nth-last-child(4) ~ li {
      width: 48%;
    }
    // / li가 4개일 때 /
    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li {
      width: 48%;
    }
  }
  .support-wrap h2 {
    font-size: 4.5rem;
    padding-bottom: 20px;
  }
  .support-area-box {
    padding:0 20px;
}
}

@media screen and (max-width: 450px) {
  .support-wrap h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .support-img-wrap ul h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .product-info-txt p {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
