.top-ban {
  background-color: #e2dfcf;
  overflow: hidden;
  position: relative;
  z-index: 999999;
  ul {
    display: flex;
    li {
      padding: 10px 20px;
      p {
        font-size: 1.5rem;
        white-space: nowrap;
      }
    }
  }
}
#top-area {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999999;
}
.top-area {
  background-color: #eeede7;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 90px;
}
.top-area-box {
  position: relative;
  // overflow: hidden;
}
.gnb-box {
  height: 90px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  position: relative;
}
.gnb-smenu {
  line-height: 90px;
}
.sub-gnb-box {
  justify-content: flex-end;
}
.logo-box {
  text-align: center;
  line-height: 90px;
}
.gnb-menu {
  margin-left: 50px;
}
.ham-li {
  display: none;
  .ham-menu {
    font-size: 2.5rem;
  }
}
.ham-sc {
  font-size: 20px;

  display: none;
  a {
    font-size: 2.3rem;
  }
}
.gnb-menu ul {
  gap: 30px;
}
.gnb-menu ul li {
  font-size: 14px;
  font-weight: 600;
  // cursor: pointer;
}
.sub-gnb {
  padding-right: 30px;
}
.sub-gnb li {
  // padding: 10px;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
}
.user-name {
  text-decoration: underline;
}
// .sub-gnb li:nth-child(2) {
//   margin-right: 20px;
// }
.smenu {
  display: flex;
  position: absolute;
  left: 0vw;
  height: 0;
  overflow: hidden;
  background-color: #eeede7;
  width: 100%;
  transition: 0.3s;
  opacity: 0.3;

  ol {
    padding-top: 20px;
    li {
      line-height: 30px;
      // font-weight: 800;
    }
  }
}
.smenu ol:nth-child(1) {
  padding-left: 50px;
}
.smenu ol:nth-child(-n + 2) {
  li:nth-child(1) {
    margin-bottom: 10px;
    a {
      font-weight: 600;
    }
  }
}
.gnb-smenu li:nth-child(1) .smenu ol li:nth-child(1) {
  margin-bottom: 20px;
}
.smenu ol li:nth-child(n + 2) {
  font-weight: 500;
}
.gnb-smenu > li:nth-child(4) ol li {
  font-weight: 700;
}

.smenu li a:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.smenu .video-box {
  padding-right: 50px;
}
.smenu video,
.smenu img {
  padding-top: 20px;
  object-fit: cover;
  width: 100%;
  height: 23vw;
}

.gnb-menu > ul > li:hover .smenu {
  height: 27vw;
  opacity: 1;
}

.gnb-smenu li span {
  position: relative;
  overflow: hidden;
  font-weight: 600;
}

.gnb-smenu li span::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  background-color: #160d05;
  height: 1.3px;
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}
.gnb-smenu li span:hover::after {
  width: 50%;
}
.gnb-smenu li span::before {
  content: "";
  background-color: #160d05;
  position: absolute;
  bottom: -1px;
  right: 50%;
  width: 0;
  height: 1.3px;
  transition: 0.3s;
  overflow: hidden;
  z-index: 9999999;
  cursor: default;
}
.gnb-smenu li span:hover::before {
  width: 50%;
}
.search-area {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background-color: #0000003f;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: -1;
  .search-box {
    position: absolute;
    left: 0;
    top: -90px;
    width: 100%;
    background-color: #eeede7;
    height: 90px;
    transition: 0.4s;
  }
  &.on {
    height: 100vh;
    opacity: 1;
    z-index: 1;
    .search-box {
      // transition: .4s;
      top: 0px;
    }
  }
}

.search-wrap {
  display: flex;
  padding: 0 100px;
  text-align: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 30px;
  z-index: 99999;
  input {
    width: 100%;
    margin: 0 20px;
    font-size: 1.7rem;
    // font-weight: 500;
    color: #503217;
    border: none;
    background-color: #eeede7;
    border-bottom: 1px solid #18181879;
  }
  input:focus {
    outline: none;
  }
  i {
    cursor: pointer;
  }
}
.cart-area {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.cart-box {
  position: fixed;
  background-color: #eeede7;
  top: -40px;
  right: -350px;
  max-width: 350px;
  width: 100%;
  height: 105vh;
  opacity: 0;
  transition: 0.4s;
  border-left: 1px solid #503217;
  z-index: 999999999999999;
  // overflow: hidden;
  .cart-wrap {
    .cart-tit {
      position: relative;
      margin: 0 auto;
      p {
        font-size: 1rem;
      }
    }
    .cart-top {
      .cart-xbtn {
        position: absolute;
        right: 0;
        top: 0;
        padding: 7rem 2rem;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
  }
  .cart-name {
    border-top: 1px solid #503217;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #503217;
    
      font-size: 2rem;
      padding: 2rem 2rem;
    
  }
  .cart-product {
    overflow-y: auto;
    height: 80vh;
    > p {
      padding: 2rem 0 0 2rem;
      font-size: 1.4rem;
    }
    .cart-product-box {
      border-bottom: 1px solid #503217;
      display: flex;
      img {
        padding: 2rem;
        width: 35%;
        flex-basis: 30%;
        object-fit: contain;
      }

      .cart-pd-info {
        padding: 2rem 0;
        flex-basis: 70%;
        p {
          margin-bottom: .5rem;
          font-size: 1.6rem;
        }
        .rmBtn p {
          font-size: 1.2rem;
          cursor: pointer;
          display: inline-block;
        }
        .cart-cnt-box {
          border: 1px solid #503217;
          border-radius: 4px;
          box-sizing: border-box;
          width: 85px;
          margin-bottom: 0.5rem;
          button {
            border: none;
            background-color: #eeede7;
            cursor: pointer;
            
          }
          #cart-prdcnt {
            background-color: #eeede7;
            width: 2rem;
            border: none;
            text-align: center;
            margin: 0 auto;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
.no-cart{
  margin: 5rem 0;
  text-align: center;
  font-size: 2rem;
  
  div{
    border: 1px solid #000;
    margin-top: 2rem;
    // width: 70%;
  }
}
.cart-area .cart-box .cart-flex{
  display: flex;
  justify-content: space-between;
  .pd-total{
    height: 1.5rem;
    padding-top: 1.2rem;
    p{
      font-size: 1.8rem;
    }
  }
  .rmBtn{
    height: 1.5rem;
    padding-top: 1.6rem;
    padding-right: 2rem;
  }
}
.ham-area {
  position: absolute;
  background-color: #eeede7;
  left: -350px;
  top: 0;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: 0.5s;
}
.ham-box {
  padding-top: 2rem;
  padding-left: 2rem;
  ul {
    margin-top: 3rem;
  }
  li:nth-child(1) {
    position: relative;
    // margin-top: 1rem;
  }
  li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    overflow: hidden;
    cursor: pointer;
    .sub-txt {
      display: inline-block;
      width: 100%;
      font-size: 2rem;
    }
    .ham-sub-m {
      position: absolute;
      right: 20px;
      top: 0;
      // width: 100%;
      // height: 100%;
    }
    .ham-sub-p {
      position: absolute;
      right: 20px;
      top: 0;
      opacity: 1;
      transition: 0.5s;
    }
  }
}
.ham-menu {
  height: 0;
  transition: 0.5s;
  cursor: pointer;
  ol:nth-child(1) {
    li:nth-child(1) {
      padding-top: 2rem;
      // font-size: 2rem;
      a:nth-child(1) {
        font-size: 1.6rem;
      }
    }
    a {
      font-size: 1.4rem;
    }
  }
  ol:nth-child(2) {
    li:nth-child(1) {
      padding-top: 1rem;
      // font-size: 2rem;
      a:nth-child(1) {
        font-size: 1.6rem;
      }
    }
    a {
      font-size: 1.4rem;
    }
  }
}

.ham-list {
  a {
    display: inline-block;
    width: 100%;

    font-size: 2rem;
  }
}
.ham-list.on {
  .ham-menu {
    height: 350px;
  }
  .ham-sub-p {
    opacity: 0;
    transform: rotate(180deg);
  }
}
.ham-xbtn {
  cursor: pointer;
}
.gotopbtn {
  position: fixed;
  right: 40px;
  bottom: -45px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: #503217;
  z-index: 9999999;
  // margin: 0 auto;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  box-shadow: 2px 2px 6px 1px gray;
  transition: 0.4s;
  i {
    color: #eeede7;
  }
}
.gotopbtn.on {
  bottom: 40px;
}

@media screen and (max-width: 940px) {
  // .sub-gnb {
  //   li:nth-child(n + 2):nth-child(-n + 3) {
  //     display: none;
  //   }
  // }
}
@media screen and (max-width: 800px) {
  .gnb-menu {
    margin-left: 30px;
    ul {
      gap: 15px;
    }
    li:nth-child(n + 3):nth-child(-n + 5) {
      display: none;
    }
    li:nth-child(-n + 2) {
      display: block;
    }
  }
  .sub-gnb {
    padding-right: 10px;
    li:nth-child(n + 3):nth-child(-n + 3) {
      display: none;
    }
  }
  .sub-gnb {
    li:nth-child(5) {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .logo-box {
    img {
      width: 150px;
    }
  }
  .gnb-menu {
    margin-left: 15px;
  }
  .sub-gnb {
    padding-right: 5px;
    a {
      margin: 0 3px;
      font-size: 15px;
    }
  }
  .ham-li .ham-menu {
    font-size: 2rem;
  }
  .ham-sc a {
    font-size: 1.8rem;
  }
  .gnb-menu ul {
    gap: 10px;
  }
}
