#top-area {
  background-color: #eeede7;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}
.top-area {
  height: 90px;
}
.main-area {
  padding-top: 90px;
}
.gnb-box {
  height: 90px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
}
.gnb-smenu {
  line-height: 40px;
}
.sub-gnb-box {
  justify-content: flex-end;
}
.logo-box {
  text-align: center;
}
.gnb-menu {
  margin-left: 10%;
}
.gnb-menu ul {
  gap: 30px;
}
.gnb-menu ul li {
  font-size: 14px;
  font-weight: 600;
  // cursor: pointer;
}
.sub-gnb {
  margin-right: 10%;
}
.sub-gnb a {
  // padding: 10px;
  margin: 0 10px;
  font-size: 20px;
}
.sub-gnb li:nth-child(3) {
  margin-right: 20px;
}
.smenu {
  display: flex;
  position: absolute;
  left: 0vw;
  height: 0;
  overflow: hidden;
  background-color: #eeede7;
  width: 100%;
  transition: 0.3s;
  opacity: 0.3;

  ol {
    padding-top: 40px;
    li {
      line-height: 30px;
    }
  }
}
.smenu ol:nth-child(1) {
  padding-left: 40px;
}
.gnb-smenu li:nth-child(1) .smenu ol li:nth-child(1) {
  margin-bottom: 20px;
}
.smenu ol li:nth-child(n + 2) {
  font-weight: 500;
}
.gnb-smenu > li:nth-child(2) ol li {
  font-weight: 600;
}

.smenu li a:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.smenu .video-box {
  padding-right: 40px;
}
.smenu video,
.smenu img {
  padding-top: 40px;
  object-fit: cover;
  width: 100%;
  height: 23vw;
}

.gnb-menu > ul > li:hover .smenu {
  height: 27vw;
  opacity: 1;
}

.ban-box {
  position: relative;
  .video-box video {
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
}
.ban-txt {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h2 {
    font-size: 7rem;
    color: #fff;
    margin-bottom: 4vh;
  }
  p {
    font-size: 2rem;
    color: #fff;
  }
}

.product-list-box {
  text-align: center;
  > div {
    margin-bottom: 30px;
  }
  .shop-all {
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    overflow: hidden;
  }
  // 밑줄
  .shop-all::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    background-color: #160d05;
    height: 1.3px;
    width: 100%;
    overflow: hidden;
    transition: 0.4s;
  }
  .shop-all:hover::after {
    width: 50%;
  }
  .shop-all::before {
    content: "";
    background-color: #eeede7;
    position: absolute;
    bottom: -1px;
    right: -100%;
    width: 100%;
    height: 1.3px;
    transition: 0.4s;
    overflow: hidden;
    z-index: 999;
    cursor: default;
  }
  .shop-all:hover::before {
    right: -50%;
  }
}

.product-img-slider {
  display: flex;
  gap: 3%;
}
.product-img-box {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  img {
    width: 100%;
  }
  video {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s;
  }
  .prd-img2 {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.4s;
  }
  &:hover video {
    opacity: 1;
  }
  &:hover .prd-img2 {
    opacity: 1;
  }
  &:hover .add-box {
    bottom: 0;
  }
}
.product-txt {
  text-align: center;
  font-weight: 500;
  p {
    color: #160d05;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  span {
    color: #7f6a55;
    font-size: 1.4rem;
  }
}
.add-box {
  position: absolute;
  bottom: -43px;
  left: 0;
  width: 100%;
  font-size: 1.2rem;
  background-color: #eeede7;
  height: 40px;
  transition: bottom 0.3s;
  opacity: 0.8;
  span {
    color: #160d05;
    opacity: 1;
    position: relative;
    top: 33%;
  }
}
.shop-tit:nth-child(1) {
  margin-top: 70px;
}

.shop-tit {
  h2 {
    font-size: 5.5rem;
    text-align: center;
    font-weight: 600;
  }
}
.shop-link.off {
  display: none;
}

//product-info-area
.product-info {
  padding: 0 50px;
}
.product-info-txt {
  p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  h2 {
    padding: 20px 0;
    font-size: 5.5rem;
    font-weight: 600;
  }
}
.product-info-img {
  padding-top: 100px;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      flex-basis: 16.66%;
    }
    h3 {
      font-size: 1.8rem;
      font-weight: 800;
      padding: 15px 0;
    }
  }
}

// support-area
.support-wrap {
  h2 {
    font-size: 5rem;
    font-weight: 600;
    padding-bottom: 20px;
  }
}
.support-img-wrap ul {
  display: flex;
  gap: 3%;
  img {
    width: 100%;
    padding-bottom: 20px;
  }
  h3 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}
.support-area-box {
  padding: 0 40px;
}

.faq-area-box {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
}

.faq-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 min(5vw, 30px);
}

.faq-box {
  position: relative;
  border-top: 1px solid #503217;
  border-bottom: 1px solid #503217;
  padding: 30px 0;
  height: 142px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: -1px;
  cursor: pointer;
  // transition: all .7s ease-in-out;
  img {
    height: 80px;
  }
  h3 {
    display: inline-block;
    font-size: 2rem;
    margin-left: 2rem;
  }
  p {
    font-size: 1.6rem;
    margin-top: 3rem;
    // display: none;
  }
  &.on {
    height: auto;
    .fa-plus {
      opacity: 0;
      transform: rotate(180deg);
    }
  }

  .fa-plus,
  .fa-minus {
    position: absolute;
    right: 3%;
    top: 70px;
    opacity: 1;
    transition: all 0.4s;
    transform: rotate(0deg);
  }
}

.product-detail {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 40px;
}

.product-detail-content {
  display: flex;
}

.detail-img-box img {
  width: 100%;
}

.product-count-box {
  border: 1px solid #000;
  border-radius: 5px;
  width: 120px;
  input {
    width: 20px;
    border: none;
  }
}

/* footer */
.footer-area {
  background-color: #a2d0d2;
  padding: 40px;
}
.footer-img-box h2 {
  margin: 30px 0;
  font-size: 4rem;
  text-align: center;
  font-weight: 600;
}
.footer-img-box .ft-img-wrap ul {
  display: flex;
  gap: 3%;
  img {
    width: 100%;
  }
}
.footer-info-box {
  margin-top: 40px;
  display: flex;
  h4 {
    font-size: 2.2rem;
    font-weight: 900;
    margin-bottom: 20px;
  }
  .social-box {
    text-align: center;
    ul {
      display: flex;
      justify-content: center;
      li {
        padding: 0 3%;
        font-size: 3rem;
      }
    }
  }
  .info-detail-box {
    text-align: right;
    img {
      width: 150px;
    }
  }
}
