
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    color: #503217;
    letter-spacing: 1px;
}
h2,h3,h4{
    font-family: "ITC Clearface" ,serif;
}
html{
    font-size: 10px;
}
body{
    font-family: "Inter", sans-serif;
}
/* 중앙속박스 */
.inbox{
    /* 최대가로크기 */
    max-width: 1800px;
    padding: 0 20px;
    /* 블록박스 중앙정렬 -> 마.영.오! */
    margin: 0 auto;
}
/* 그룹파트박스 */

/* 플렉스박스 클래스 */
.fx-box{
    display: flex;
    flex-wrap: wrap;
}

/* 파트박스 */
.partbox {
    /* 패딩,보더 포함박스 */
    box-sizing: border-box;
}

/* 메인영역 col-박스 */
.main-area [class*='col-'] {
    padding: 10px;
}

